## <summary>ServEcosys security domains and interfaces</summary>

###########################################
## <summary>
##	Execute SED backend service in the sys_dom_t domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`servecosys_run_sed',`
	gen_require(`
		type sys_dom_t, sys_dom_exec_t;
	')

	domtrans_pattern($1, sys_dom_exec_t, sys_dom_t)
')

###########################################
## <summary>
##	Execute UID frontend service in the uid_dom_t domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to transition.
##	</summary>
## </param>
#
interface(`servecosys_run_uid',`
	gen_require(`
		type uid_dom_t, uid_dom_exec_t;
	')

	domtrans_pattern($1, uid_dom_exec_t, uid_dom_t)
')

###########################################
## <summary>
##	Allow domain to manage app sandbox.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to manage.
##	</summary>
## </param>
#
interface(`servecosys_manage_app_sandbox',`
	gen_require(`
		type app_sandbox_t, app_data_t;
	')

	allow $1 app_sandbox_t:process { transition signal };
	allow $1 app_data_t:dir { read search write add_name };
	allow $1 app_data_t:file { read write open getattr create unlink };
')

###########################################
## <summary>
##	Allow domain to read hardware fingerprint.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to read.
##	</summary>
## </param>
#
interface(`servecosys_read_fingerprint',`
	gen_require(`
		type servecosys_sysfs_t;
	')

	allow $1 servecosys_sysfs_t:file read;
')

###########################################
## <summary>
##	Allow domain OIPES network access.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed network access.
##	</summary>
## </param>
#
interface(`servecosys_oipes_network',`
	gen_require(`
		type oipes_client_t;
	')

	allow oipes_client_t $1:tcp_socket { connectto };
')

###########################################
## <summary>
##	Allow domain to manage snapshots.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed to manage.
##	</summary>
## </param>
#
interface(`servecosys_manage_snapshots',`
	gen_require(`
		type sys_data_t;
	')

	allow $1 sys_data_t:dir { read search write add_name remove_name };
	allow $1 sys_data_t:file { read write open getattr create unlink setattr };
')
